<div class="dashboard">
    <app-sidebar></app-sidebar>
    <main class="main-content">
      <app-dashboardheader></app-dashboardheader>
      <div class="creche-list-container">
        <mat-table [dataSource]="messages" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let message"> {{message.id}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let message"> {{message.name}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let message"> {{message.email}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="message">
              <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
              <mat-cell *matCellDef="let message"> {{message.message}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let message">
                <button mat-button (click)="openMessageDetail(message)">View</button>
              </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'message', 'actions']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['id', 'name', 'email', 'message', 'actions'];"></mat-row>
          </mat-table>
      </div>
    </main>
  </div>
  