<!-- sidebar.component.html -->


  <aside class="sidebar">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Nursery Logo">
    </div>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="admin/dashboard" class="nav-link">
            <i class="fas fa-tachometer-alt nav-icon"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="supervisor-profile" class="nav-link">
            <i class="fas fa-user nav-icon"></i>
            <span>Supervisor profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/listmangement" class="nav-link">
            <i class="fas fa-school nav-icon"></i>
            <span>Nursery Management</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-users nav-icon"></i>
            <span>Parent Management</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="eventmanagement" class="nav-link">
            <i class="fas fa-calendar-alt nav-icon"></i>
            <span>Events</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="availability-management" class="nav-link">
            <i class="fas fa-calendar-check nav-icon"></i>
            <span>Availability Management</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="contactadmin" class="nav-link">
            <i class="fas fa-address-book nav-icon"></i>
            <span>Contacts</span>
          </a>
        </li>
      </ul>
    </nav>
    <a href="#" class="nav-link logout" (click)="logout()">
      <i class="fas fa-sign-out-alt nav-icon"></i>
      <span>Logout</span>
    </a>
  </aside>
 


